node_modules/
.env
.env.*
!.env.example
playwright-report/
playwrightReport/
test-results/
.auth/
playwright/.auth/
coverage/
.log
npm-debug.log
yarn-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json